### Задание 1
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и Y из этих данных.
Разбейте эти датафреймы н а тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [35]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [52]:
boston=load_boston()
x=pd.DataFrame(boston["data"],columns=boston["feature_names"])
y=pd.DataFrame(boston["target"], columns=["price"])
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=42)
lr=LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [53]:
y_pred=lr.predict(x_test)
chk_test=pd.DataFrame({"y_test": y_test["price"], "y_pred": y_pred.flatten()})
chk_test

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

[152 rows x 2 columns]

In [37]:
r2_score(chk_test["y_test"], chk_test["y_pred"])

0.7003958861627086

In [38]:
lr.coef_

array([[-5.53106739e-02,  4.32157673e-02,  2.76670648e-02,
         3.92038174e+00, -1.49401436e+01,  3.98563326e+00,
        -5.94247118e-03, -1.35584254e+00,  2.65029411e-01,
        -1.11687887e-02, -1.00496560e+00,  8.76250302e-03,
        -5.20749041e-01]])

### Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [54]:
from sklearn.ensemble import RandomForestRegressor

In [55]:
model=RandomForestRegressor(n_estimators=1000, max_depth=12,random_state=42)
model.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [56]:
y_pred=model.predict(x_test)
chk_test=pd.DataFrame({"y_test": y_test["price"], "y_pred": y_pred.flatten()})
chk_test

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
..      ...        ...
441    17.1  13.521640
23     14.5  15.112621
225    50.0  42.808700
433    14.3  15.586103
447    12.6  16.072425

[152 rows x 2 columns]

In [46]:
r2_score(chk_test["y_test"], chk_test["y_pred"])

0.7727096420040264

### Задание 3
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [62]:
imp=model.feature_importances_
imp

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

In [63]:
sum(imp)

1.0

In [72]:
imp_feature=pd.DataFrame({"importances": imp, "features": boston["feature_names"]})
imp_feature.nlargest(5,"importances")

    importances features
12     0.415847    LSTAT
5      0.402682       RM
7      0.063973      DIS
0      0.031676     CRIM
10     0.018081  PTRATIO